.Home{
    color: #0F0326;
    margin: auto;
    padding: 15px;

}
.subHeading{
    color: #0F0326;
    font-size: 30px;
}
.Heading{
    color: #496F5D;
    font-size: 25px;
}
.HeadingOne{
    color:#0F0326;
    font-style: normal;
    font-size: 18px;
}